@import '../../../mixins.scss';

.bannerSection {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    height: calc(100vh - 60px);

    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        justify-content: flex-end;
        margin: 0 auto;


        @include md {
            flex-direction: row;
            max-width: 1200px;

        }

        .text-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            justify-content: center;
            text-align: center;

            @include md {
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
            }

            @include xxl {
                left: 0;
            }

            h1 {
                font-size: 80px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 20px;

                @include md {
                    font-size: 180px;
                }
            }

            p {
                max-width: 300px;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;

                @include md {
                    max-width: 500px;
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            .ctas {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            .banner-ctas {
                background-color: transparent;
                border: 2px solid white;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                padding: 10px 20px;
                font-size: 13px;
                font-weight: 500;
                border-radius: 1px; cursor: pointer;
                &:hover{
                    opacity: 0.6;
                }
            }

            .v2 {
                background-color: white;
                color: black;
            }

        }

        .Image {
            width: 200px;
            position: relative;
            z-index: 9;
            margin-bottom: 25px;

            @include md {
                width: 500px;
                margin-right: 60px;
                margin-top: 50px;
                margin-bottom: 0px;
            }

            @include xxl {
                width: 600px;
                margin-right: 0px;
                margin-top: 0px;

            }
        }
    }
}