@import "../../mixins.scss";

.productContainer {
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    .heading {
        margin-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            
            @include md {
                margin-bottom: 35px;
                font-size: 30px;
                
                
            }
        }
        .products {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @include sm {
            gap: 50px;
            margin: auto;
        }
    }
}
